.header{
    display: flex;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-search{
    display: flex;
    float: right;
    margin-left: 300px;
}
li.dropdow{
    display: inline-block;
}
.dropbtn{
    text-decoration: none;
    color: black;
}
.dropdow-content{
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    z-index: 1;
}
.dropdow-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdow-content a:hover{
    background-color: aqua;
}
.dropdow:hover .dropdow-content{
    display: block;
}
.slide-content{
    display: flex;
    background-color:#17A2B8;
}
.highlight-content{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
}
.img-ionic{
    width: 400px;
    height: 500px;
}
.wellcome{
    font-family: Roboto;
    font-size: 40px;
    color: white;
}
.ionic-course365{
    font-family: Roboto;
    font-size: 16px;
    color:#FFFFFF80;
}
.sale-price
{
    text-decoration: line-through;
}
.img-teacher
{
    width: 35px;
    height: 35px;
    border-radius: 18px;
}
.recomend-courses
{
    padding: 50px;
}
.courses-content
{
    display: flex;
    flex-direction: column;
}
.popular-courses
{
    padding: 50px;
}
.card-footer
{
    padding: 0;
}
.trending-courses
{
    padding: 50px;
}
.footer
{
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.footer-content
{
    font-family: "Roboto";
    font-size: 15px;
}
.footer-menu
{
    display: flex;
}
.privacy
{
    font-family: "Roboto";
    font-size: 15px;
    color: #007BFF;
}
.feedback
{
    font-family: "Roboto";
    font-size: 15px;
    margin-left: 10px;
    color: #007BFF;
}
.terms
{
    font-family: "Roboto";
    font-size: 15px;
    margin-left: 10px;
    color: #007BFF;
}
.support
{
    font-family: "Roboto";
    font-size: 15px;
    margin-left: 10px;
    color: #007BFF;
}